.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiTypography-root.form-section-header {
  text-align: left;
  font-weight: 600;
}
.MuiButton-root.yellow-button {
  background-color: #ff9e17;
}

.MuiButton-root.yellow-button:hover {
  background-color: #ffc107;
}

.MuiButton-root.reset-button {
  background-color: #6c757d;
}
.MuiButton-root.reset-button:hover {
  background-color: #5C636A;
}
